@charset "utf-8";
/*------------------------------------------------------------
	デフォルトスタイル
------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	background: transparent;
	border: 0;
	outline: 0;
	font-size: 1em;
}

body,
table,
input, textarea, select, option {
	font-family: HiraKakuProN-W3;
	font-size: 1em;
}

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

a {
	text-decoration: none;
}

a :hover{
	text-decoration: none;
	color:#000;
	}

/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
	width:100%;
	#000;
}

#wrap {
	overflow:hidden;
}

#wrap a {
	color:#000;
}
/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/

header {
	padding: 5px 0 0 0;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-pack: center;
    -moz-box-pack: center;
	background:#2EC63C;
	color:#FFF;
	height:43px;
	width:100%;
}


header .info {
	margin-left:5px;
}

header .title {
	padding: 10px 0 0 0;
}

header .title h1 {
	font-size:17px;
	line-height:0;
}

header .title h2 {
	font-size:14px;
	line-height:0;
	padding:15px 0 0 0;
	text-align:right;
}

/*------------------------------------------------------------
	コンテンツ
------------------------------------------------------------*/
#content {
	padding: 10px 0 0 0;
	margin-bottom:10px;
	text-align: center;
}

#telmail ul {
	text-align:center;
}

#telmail li {
	line-height:1em;
	padding:6px 0 6px 0px;
	font-size:18px;
}

ul.tel li {
	background:url("images/phone.png") left no-repeat;
}

ul.mail li {
	background:url("images/mail.png") left no-repeat;
}

ul.info {
	margin:30px 10px 0 10px;
	border-top:1px dotted #000;
	text-align:left;
}

ul.info li {
	font-size:14px;
	background:url("images/listmark.png") left no-repeat;
	line-height:2em;
	padding: 2px 0 0 35px;
	border-bottom:1px dotted #000;
}

ul.info li a:hover {
	text-decoration: underline;
}

/*------------------------------------------------------------
	子ページ
------------------------------------------------------------*/

#txt-wrap {
	padding: 0 10px 0 10px;
}

#txt-wrap .txt-tit {  
    background: -moz-linear-gradient(top, #006de6, #8fcaff);
    background: -webkit-gradient(linear, left top, left bottom, from(#006de6), to(#8fcaff));
	height:40px;
	font-size:18px;
	line-height:40px;
} 

#txt-wrap .txt {
　 float:left;
   padding:10px;
   text-align:left;
   font-size:1em;
   line-height:1.5em;
   background-color: #FFF;
   margin-bottom:15px;
}

#txt-wrap .txt h3{
	margin:15px 0 15px 0;
	border-top:1px dashed #000;
	border-bottom:1px dashed #000;
	font-size:15px;
}

#txt-wrap .txt p {
	padding-bottom: 10px;
}

#small-txt {
	margin: 15px 0 15px 0;
	padding:0 6px 0 6px;
 	border:1px dotted #696969;
 	color:#696969;
}

#small-txt h4{
	display:inline;
	background-color:#696969;
	color:#fff;
	padding:3px;
	font-size:13px;
}

#small-txt p{
	margin:6px 0 6px 10px;
	font-size:12px;
}

p.image {
	text-align: center;
}

#wrap .blue {
	color: blue;
}

/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/
footer {
	background:#2EC63C;
	text-align:center;
	color:#FFF;
	height:25px;
}

footer h4 {
	font-size: 12px;
	padding-top:5px;
}

/*------------------------------------------------------------
	問い合わせページ
------------------------------------------------------------*/

#txt-wrap .form_item {
	margin:0 0 0 0;
}

#txt-wrap .required {
	color:#FF0000;
}